.App {
  /* padding-top: 36px; */
  text-align: center;
  height: 100%; 
}

/* 
.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item {
  margin-bottom: 24px;
  width: 32%;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
  border-radius: 10px ;
}

.MoviesList-item:hover{
  border: 1px solid white;
}

figure > img {
  border-radius: 10px 10px 0px 0px ;
  width: 100%;
} */